.library-song-container {
  display: flex;
  cursor: pointer;
  padding: 1rem 2rem;
  width: 100%;

  img {
    width: 30%;
  }

  .song-desc {
    padding: 1rem 2rem;

    h3 {
      font-size: 1.2em;
    }
    h4 {
      font-size: 0.8em;
      color: rgb(78, 76, 76);
    }
  }

  &:hover {
    background: lightblue;
  }
}
